<h1>Sign Up Below:</h1>

  <form action="/registrations" method="POST">
    <input type="text" name="user[name]">
    <input type="text" name="user[email]">
    <input type="text" name="user[password]">
    <input type="submit" value="Sign up">
  </form>
