<h1>Sign Up Below:</h1>

  <form action="POST "method="'/registrations'">
    <input type="text" name="name">
    <input type="text" name="email">
    <input type="text" name="password">
    <input type="submit">Sign Up</input>
  </form>
